

  .NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    overflow: hidden;
    background-color: #333;
  }
  
  .NavBar li {
    float: left;
  }

  
  .NavBar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  
  /* Change the link color to #111 (black) on hover */
  .NavBar li:hover {
    background-color: #111;
  }

  .shoeproduct{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
    
  }

  .shoeproduct > .link{
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px #463636;
    margin: 10px;
  }
  .shoeproduct > .link:hover{
    background-color: lightgray;
    box-shadow: 0 0 10px #463636;
  }

  .productchoose{
    margin: 0px;
    display: block;
    box-shadow: 0 0 10px #463636;
    height: 40px;
    
    
  }

  .productitem{
    display: block;
    text-align: center;
  }

  .productitem img{
    box-shadow: 0 0 10px #463636;
  }

  .welcome{
    margin: 0px;
    display: block;
    box-shadow: 0 0 10px #463636;
    height: 40px;
    
  }
 


